<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="tester/Navbar::layout(~{::table})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="table" class="main-panel">
		<div class="content-wrapper">
			<div class="row">
				<div class="offset-lg-2 col-lg-8 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<p  class="card-title text-center mt-5"><i style="font-size: 150px;" class="mdi mdi-bug"></i></p>
							
							<div class="row">
								<div class="offset-lg-1 col-lg-5">
									<p><span style="font-size: 20px; font-weight: bold;">Bug Id: </span> &nbsp; <span style="font-size: 18px;" th:text="${bug.id}"> </span></p>
								</div>
								<div class="offset-lg-1 col-lg-5">
								<p><span style="font-size: 20px; font-weight: bold;">Bug Title: </span> &nbsp; <span style="font-size: 18px;" th:text="${bug.bugTitle}"> </span></p>
								</div>
							</div>
							<div class="row" style="margin-top: 20px;">
								<div class="offset-lg-1 col-lg-11">
									<p><span style="font-size: 20px; font-weight: bold;">Bug Description: </span> &nbsp; <span style="font-size: 18px;"th:text="${bug.bugDiscription}"></span></p>
								</div>
								
							</div>
							<div class="row" style="margin-top: 20px;">
								<div class="offset-lg-1 col-lg-5">
									<p><span style="font-size: 20px; font-weight: bold;">Project Name: </span> &nbsp; <span style="font-size: 18px;"th:text="${bug.projectId.projectName}"></span></p>
								</div>
								<div class="offset-lg-1 col-lg-5">
								<p><span style="font-size: 20px; font-weight: bold;">Developer Name: </span> &nbsp; <span style="font-size: 18px;" th:text="${bug.devloperId.firstName}"> </span> &nbsp; <span style="font-size: 18px;" th:text="${bug.devloperId.lastName}"> </span></p>
								</div>
							</div>
							
							<div class="row" style="margin-top: 20px;">
								<div class="offset-lg-1 col-lg-5">
									<p><span style="font-size: 20px; font-weight: bold;">Status : </span> &nbsp; <span style="font-size: 18px;" th:text="${bug.bugStatus}"></span></p>
								</div>
								<div class="offset-lg-1 col-lg-5">
								<p><span style="font-size: 20px; font-weight: bold;">Date of Creation :</span> &nbsp; <span style="font-size: 18px;" th:text="${bug.bugCreationDate}"> </span></p>
								</div>
							</div>
							<div class="row" style="margin-top: 20px;">
								<div class="offset-lg-1 col-lg-5">
									<p><a th:href="@{/qa/bug/edit/{bid}(bid=${bug.id})}" class="btn btn-success" style="width: 100%;" >Edit Bug</a></p>
								</div>
								
								<div class=" col-lg-5" >
								<p><a style="width: 100%;" th:href="@{/qa/bug/delete/{bid}(bid=${bug.id})}" class="btn btn-danger"  onclick="return confirm('Do you really want to delete Bug?');">Delete Bug</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>
</html>