<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="tester/Navbar::layout(~{::table})">
<head>
<meta charset="ISO-8859-1">
<title></title>
</head>
<body>
	<div th:fragment="table" class="main-panel">
		<div class="content-wrapper">
			<div class="row">
				<div class="col-lg-12 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Projects</h4>
							<p class="card-description">
								Projects You Are
								<code>In</code>
							</p>
							<div class="table-responsive">
								<table class="table table-striped">
									<thead>
										<tr>
											<th>Project Name</th>
											<th>Project Status</th>
											<th>Raise Bug</th>
											
										</tr>
									</thead>
									<tbody>
										<tr th:each="e:${projects}">
											<td class="py-1" style="height: 50px;"><span  style="font-size: 15px;" th:text="${e.projectName}"></span></td>
											<td><span th:text="${e.status}==1?'Completed':'In-Progress'"></span></td>
											<td><a class="btn btn-primary" th:classappend="${e.status}==1?'disabled':''" th:href="${e.status}==1?'':@{/qa/project/raiseBug/{pid}(pid=${e.id})}" ><i class="mdi mdi-bug"></i></a></td>
											
											</tr>

									</tbody>
								</table>
								
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>
</html>