<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="Header::layout(~{::table})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="table" class="main-panel">
		<div class="content-wrapper">
			<div class="row">
				<div class="col-lg-12 grid-margin stretch-card">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Add Team</h4>
							<p class="card-description">
								Add Team 
								<code>Into Project</code>
							</p>
							<div class="table-responsive">
								<table class="table table-striped">
									<thead>
										<tr>
											<th>Employee Name</th>
											<th>Add Team</th>
											
											
										</tr>
									</thead>
									<tbody>
										<tr th:each="e : ${teams}">
											<td class="py-1"><span th:text="${e.teamName}"></span></td>
											
											<td><a class="btn btn-success"  th:href="@{/admin/project/addteam/{projectid}/{teamid}(projectid=${projectid},teamid=${e.id})}">Add</a></td>
											
										</tr>

									</tbody>
								</table>
								
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>
</html>