<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="Header::layout(~{::table})">
<head>
	<meta charset="UTF-8" />
	<title>Current Projects</title>
</head>
<body>
	
		<div th:fragment="table" class="main-panel">
				<div class="content-wrapper">
					<div class="row">
						<div class="col-lg-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">Completed Projects</h4>
									<p class="card-description">
										Completed projects
										<code>with status</code>
									</p>
									<div class="table-responsive">
										<table class="table table-striped">
											<thead>
												<tr >
													<th>Project Name</th>
													<th>Add Teams</th>
													<th>Teams Assign</th>
													<th>Status</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="e:${project1}">
													<td class="py-1">
														<span th:text="${e.projectName}"></span>
													</td>
													<td><a class="btn btn-dark disabled" ><i class="mdi mdi-plus"></i></a></td>
													<td><a class="btn btn-info" th:href="@{/admin/project/viewTeams/{id}(id=${e.id})}"><i class="mdi mdi-eye"></i></a> </td>
													<td><span th:text="${e.status}==0?'In Progress':'Completed'"></span></td>
													<td><a class="btn btn-success disabled" >Rename</a> <a href="" class="btn btn-primary" th:href="@{/admin/project/editstatus/{id}(id=${e.id})}">Edit Status</a> <a href="" class="btn btn-danger disabled" >Delete</a></td>
												</tr>

											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
	
</body>
</html>