<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="Header::layout(~{::table})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div th:fragment="table" class="main-panel">
				<div class="content-wrapper">
					<div class="row">
						<div class="col-lg-12 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<h4 class="card-title">Employees</h4>
									<p class="card-description">
										Employees and
										<code>there details.</code>
									</p>
									<div class="table-responsive">
										<table class="table table-striped">
											<thead>
												<tr>
													<th>Name</th>
													<th>Email</th>
													
													<th>User Type</th>
													<th>Action</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="user:${users}">
													<td class="py-1" ><span th:text="${user.firstName}"></span>&nbsp;&nbsp;<span th:text="${user.lastName}"></span></td>
													<td th:text="${user.email}"></td>
													<td th:text="${user.userTypeId.userType}"></td>
													<td><a class="btn btn-success" th:href="@{/admin/employee/update/{id}(id=${user.id})}">Update</a> &nbsp;<a class="btn btn-primary" onclick="myFunction()">Change Password</a> &nbsp;<a class="btn btn-danger" th:href="@{/admin/employee/{id}(id=${user.id})}"  onclick="return confirm('Do you really want to delete employee details?');">Delete</a>  </td>
												</tr>

											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
</body>
</html>