<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="Header::layout(~{::form})">
<head>
<meta charset="ISO-8859-1">
<title></title>
</head>
<body>
	<div th:fragment="form" class="main-panel">
		<div class="content-wrapper">
			<div class="row">
				<div class=" col-md-12 grid-margin stretch-card ">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title">Rename Project</h4>
							<p class="card-description">Fill All Fields</p>
							<form
								onsubmit="return confirm('Do you really want to submit the information?');"
								class="forms-sample" th:action="@{/admin/editstatus/{id}(id=${pid})}"
								th:method="post" th:object="${project}">
								<div class="form-group">
									<label for="exampleInputUsername1">Project Status</label> <select
										 class="form-control" id="projectName"
										name="status" required>
										 <option disabled selected>Select Status</option>
										 <option value="0">In Progress</option>
										 <option value="1">Completed</option>
										 </select>
										 

								</div>
								
								<button type="submit" class="btn btn-primary me-2">Submit</button>
								<button type="reset" class="btn btn-light">Clear</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>