<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="/developer/Navbar::layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title></title>
</head>
<body>
	
		<div class="main-panel" th:fragment="section">
			<div class="content-wrapper">
				<div class="row">
					<div class="col-md-4 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title text-center">Teams</h4>
								<div class="media">
									<i
										class="mdi mdi-account-multiple-outline icon-md text-info d-flex align-self-start me-3"></i>
									<div class="media-body">
										<h4 class="card-text "  th:text="${teams}"></h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-4 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title text-center">Bugs</h4>
								<div class="media">
									<i
										class="mdi mdi-bug icon-md text-info d-flex align-self-start me-3"></i>
									<div class="media-body">
										<h4 class="card-text "  th:text="${teamCount}"></h4>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div class="col-md-4 grid-margin stretch-card">
						<div class="card">
							<div class="card-body">
								<h4 class="card-title text-center">Projects</h4>
								<div class="media">
									<i
										class="mdi mdi-arrange-send-backward icon-md text-info d-flex align-self-start me-3"></i>
									<div class="media-body">
										<h4 class="card-text "  th:text="${projects}"></h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
</body>
</html>